*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 15%, 55%);
    width: 100%;
    height:700px;
}
.qrcode{
    padding: 16px ;
    width: 322px;
    background-color: white;
    height: 496px;
    border-radius: 15px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.qrcode img{
    display: block;
    object-fit: cover;
    width: 290px;
    height: 290px;
    border-radius: 15px;
    
   

}
p{
Font-size: 15px;
text-align: center;
text-transform: capitalize;
width: 95%;
color: #83868d;
margin: 22px auto ;
font-family: 'Outfit';
}
h1{
    width: 95%;
    text-transform: capitalize;
    text-align: center;
    font-size: 21px;
    margin: 22px auto;
    color: #223148 ;
    font-family: 'Outfit';
   
}